html,body{
    margin:0;
    padding:0;
    height: 100%;
    background: #030303;
}
body {
    /*font-family: source-sans-pro, sans-serif;*/
    font-family: my_underwoodregular, serif;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100%;
}

.colorscheme {
    color: #FDC763;
    color: #FAA063;
    color: #E89F5A;
    color: #8D584C;
}

.pandemic.navbar-brand,
.pandemic {
    font-family: my_underwoodregular, serif;
    font-size: 40px;
    color: #E89F5A;
}

.cli,
.cli.form-control {
    width: 400px;
}

/**************************************
 TERMINAL
 **************************************/

.terminal {
    color: #E89F5A;
    height: 636px;
    overflow: scroll;
}
.terminal input:focus {
    outline: none;
}

.terminal .prefix {
    margin-right: 5px
}

.terminal form {
    display: flex;
}

.terminal input {
    background: none;
    border: none;
    flex-grow: 1;
    font-size: inherit;
    outline: none !important;
    padding: 0;
}

.terminal .items {
    display: flex;
    flex-wrap: wrap;
}

.terminal .items .error,
.terminal .items .message {
    width: 10em;
}

.terminal .error {
    color: #9f1b33;
}
.terminal .message {
    color: #6b6b6b;
}


.infection {
    /*stroke-dasharray: 100px;*/
    /*stroke-dashoffset: 100px;*/
    /*animation: progressAnimation 600ms linear infinite;*/
}

@keyframes progressAnimation {
    from {
        stroke-dashoffset: 100px;
    }
    to {
        stroke-dashoffset: 300px;
    }
}